.about-us {
    @include title;
    padding-top: 35px;
    margin-bottom: 60px;
    position: relative;
}
.about-us::before {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 63%;
    margin-right: -30px;
    background-position: 55px 0px;
    margin-left: -30px;
}
.about-us__block {
    font-size: 16px;
}
.about-us__item {
    padding-top: 85px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: 8px 32px;
}
.about-us__item--eco {
    background-image: url("../img/icons/icon-feature-1.svg");
}
.about-us__item--scand {
    background-image: url("../img/icons/icon-feature-3.svg");
    background-position: 0 32px;
}
.about-us__item--photo {
    background-image: url("../img/icons/icon-feature-5.svg");
    background-position: 8px 38px;
}
.about-us__item--love {
    background-image: url("../img/icons/icon-feature-2.svg");
    background-position: 4px 35px;
}
.about-us__item--local {
    background-image: url("../img/icons/icon-feature-4.svg");
    background-position: 0 36px;
}
.about-us__item--gift {
    background-image: url("../img/icons/icon-feature-6.svg");
    background-position:3px 34px;
}

@media (min-width: 768px) {
    .about-us {
        margin-bottom: 80px;
        padding-top: 62px;
    }
    .about-us::before {
        height: 16px;
        background-size: 105%;
        background-position: -8px 0px;
        margin-right: -50px;
        margin-left: -50px;
    }
    .about-us__block {
        display: flex;
    }
    .about-us__title {
        font-size: 39px;
    }
    .about-us__item {
        margin-top: 46px;
        padding-top: 60px;
        font-size: 20px;
        background-repeat: no-repeat;
        background-position: 8px 9px;
    }
    .about-us__item--scand {
        background-position: 1px 9px;
    }
    .about-us__item--photo {
        background-position: 8px 16px;
    }
    .about-us__item--love {
        background-position: 8px 11px;
    }
    .about-us__item--local {
        background-position: 0 13px;
    }
    .about-us__item--gift {
        background-position: 9px 12px;
    }
    
}

@media (min-width: 1150px) {
    .about-us {
        margin-top: 70px;
        margin-bottom: 90px;
        padding-top: 75px;
        padding-right: 225px;
        padding-left: 225px;
    }
    .about-us::before {
        height: 23px;
        background-size: 100%;
        margin-right: -225px;
        margin-left: -225px;
    }
    .about-us__block {
        display: flex;
    }
    .about-us__title {
        margin-bottom: -5px;
        font-size: 50px;
    }
}