.catalogue__title {
    @include title;
    background-color: #f1f1f1;
    text-align: center;
    height: 178px;
    line-height: 178px;
    vertical-align: middle;
    box-sizing: border-box;
}
.catalogue {
    padding-bottom: 60px;
}
.catalogue__list {
    padding-top: 30px;
}
.catalogue__item {
    margin-bottom: 30px;
}
.catalogue__item-title {
    @include title;
    font-size: 16px;
    font-weight: 700;
}
.catalogue__item-text {
    @include openSans;
    border-bottom: 1px solid #ededed;
}
.catalogue__item-price {
    @include title;
    font-size: 14px;
    font-weight: 700;
    padding: 30px;
}
.catalogue__item-desc {
    margin: 0 30px;
   border-bottom: 1px solid #ededed;
}
.catalogue__video {
    padding-top: 96px;
}
.catalogue__video-desc {
    position: relative;
}
.catalogue__item-title {
    position: absolute;
    top: -240px;
}

@media (min-width: 768px) {
    .catalogue {
        padding-bottom: 63px;
    }
    .catalogue__list {
        padding-top: 82px;
    }
    .catalogue__title {
        height: 226px;
        padding-top: 106px;
        line-height: 24px;
    }
    .catalogue__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 55px;
    }
    .catalogue__img {
        width: 50%;
        height: 335px;
    }
    .catalogue__item-desc {
        position: relative;
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        padding: 30px;
    }
    .catalogue__item-price {
        position: absolute;
        padding: 0;
        bottom: 30px;
    }
    .catalogue__video {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .catalogue__img-video {
        height: 455px;
    }
    .catalogue__item-title {
        position: relative;
        top: 0;
    }
}

@media (min-width: 1150px) {
    .catalogue {
        padding-bottom: 106px;
    }
    .catalogue__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 132px;
    }
    .catalogue__item {
        width: 30%;
        flex-direction: column;
    }
    .catalogue__img {
        width: 100%;
        height: 462px;
    }
    .catalogue__item-desc {
        width: 100%;
    }
    .catalogue__title {
        height: 256px;
    }
    .catalogue__video {
        flex-direction: row;
    }
    .catalogue__video-desc {
        padding: 80px 20px 58px 80px;
        flex-basis: 40%;
        
    }
}