.header {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 16px;
    margin-bottom: 78px;
}
.header__sub-nav {
    display: none;
}
.header__delivery {
    display: none;
}
.header__navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__navigation li {
    padding: 0;
}
.header__mobile-menu {
    position: relative;
    padding: 22px;
    border-bottom: 1px solid #ececec;
}
.header__nav-item {
    display: block;
    padding: 29px 0;
    padding-top: 30px;
    padding-left: 75px;
    border-bottom: 1px solid #ececec;
    text-decoration: none;
    color: #000;
}
.header__nav-item_search {
    background-image: url("../img/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 32px center;
    opacity: 0.2;
}
.header__nav-item_cart {
    background-image: url("../img/icons/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 32px center;
    opacity: 0.2;
}
.header__logo {
    display: block;
    margin: 0 auto;
}
.header__logo-block {
    display: none;
}
.header__burger {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 15px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.header__burger-line,
.header__burger-line::before,
.header__burger-line::after {
    position: absolute;
    top: 0;
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
}
.header__burger-line::before {
    content: "";
    top: 5px;
}
.header__burger-line::after {
    content: "";
    top: 10px;
}

@media (min-width: 768px) {
    .header__mobile-menu {
        display: none;
    }
    .header {
        min-height: 89px;
        padding: 0 50px;
        border-bottom: 1px solid #e7e7e7;
        position: relative;
        z-index: 2;
    }
    .header__navigation li {
        height: 100%;
    }
    .header__delivery {
        display: block;
        margin: 0;
        position: absolute;
        right: 50px;
        bottom: -35px;
        font-size: 12px;
    }
    .header__logo-block {
        display: block;
        position: absolute;
        top: 22px;
    }
    .header__nav-item {
        box-sizing: border-box;
        border-bottom: none;
        padding-left: 0;
        margin-right: 35px;
        font-size: 14px;
        height: 100%;
    }
    .header__nav-item_search-title {
        display: none;
    }
    .header__navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 89px;
    }
    .header__navigation-1 {
        position: absolute;
        display: flex;
        left: 50px;
        bottom: -67px;
    }
    .header__navigation-2 {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .header__nav-item_search,
    .header__nav-item_cart {
        padding-left: 41px;
        padding-right: 41px;
        margin-right: 0;
    }
    .header__nav-item_cart {
        padding-right: 0;
        padding-left: 72px;
        font-size: 16px;
        line-height: 27px;
    }
    .header__nav-item_search {
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
    }
}

@media (min-width: 1150px) {
    .header__sub-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 50px;
        bottom: -37px;
    }
    .header__logo-block {
        left: 50%;
        margin-left: -57px;
    }
    .header__navigation {
        justify-content: space-between;
    }
    .header__navigation-1 {
        position: relative;
        left: 0;
        bottom: 0;
        height: 89px;
    }
    .header__nav-item_cart {
        padding-left: 75px;
    }
    .header__nav-item {
        font-size: 16px;
        line-height: 27px;
    }
    .header__nav-item_2 {
        padding-left: 35px;
        margin-right: 0;
    }
    .header__delivery {
        font-size: 13px;
    }
    .header__sub-nav-item {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        margin-top: 7px;
        margin-right: 61px;
    }
}
 